@import url("//fonts.googleapis.com/css?family=Roboto:100,400,700");
html, * {
	font-family: 'Roboto';
	box-sizing: border-box;
}

.column {
	max-width: 40rem;
	width: calc(100% - 2rem - 2rem);
	margin-left: auto;
	margin-right: auto;
	padding: 2rem;
	background: rgba(245, 245, 245, 0.9);
}

.column + .column {
	margin-top: 2rem;
}

.asymmetry--l {
	max-width: calc(100% - (50% - (40rem / 2)));
	width: calc(100% - 2rem);
	margin-left: 0;
	margin-right: auto;
	padding: 2rem;
	padding-left: calc(50% - (40rem / 2) - 2rem);
	border-left: solid transparent;
	border-left-width: calc(2rem + 2rem);
}

.asymmetry--r {
	max-width: calc(100% - (50% - (40rem / 2)));
	width: calc(100% - 2rem);
	margin-right: 0;
	margin-left: auto;
	padding: 2rem;
	padding-right: calc(50% - (40rem / 2) - 2rem);
	border-right: solid transparent;
	border-right-width: calc(2rem + 2rem);
}

body {
}

h1 {
	margin: 1em 1rem;
	font-size: 3rem;
	font-weight: 100;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.4;
}

h1 small {
	display: block;
	font-size: 1.5rem;
}

h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

p {
	font-size: 1rem;
	line-height: 1.8;
}

p strong {
	font-weight: 700;
}

a {
	color: #0366d6;
}


.usage {
	margin: 3rem 0;
}

.usage h2 {
	font-size: 3rem;
	text-align: center;
	font-weight: 100;
}

.usage h3 {
	font-size: 1rem;
	max-width: 40rem;
	width: calc(100% - 2rem - 2rem);
	margin: 2rem auto 0;
}

.usage p {
	text-align: center;
}

.usage .pre {
	max-width: 40rem;
	width: calc(100% - 2rem - 2rem);
	margin: 1rem auto;

	line-height: 2;
	background: rgba(245, 245, 245, 0.9);
	padding: 1rem 2rem;
}

.usage .pre .c1 {
	color: #d73a49;
}

.usage .pre .c2 {
	color: #005cc5;
}

.usage .pre .c3 {
	color: #6f42c1;
}

.usage .pre .c4 {
	color: #032f62;
}

.usage .pre .c5 {
	color: #22863a;
}

.github {
	text-align: center;
	margin: 3rem 1rem;
}
